Webpack (imports / exports)
    SCSS
    Babel
    ESLint
    2 Modes
        -Dev
            Dev server, Source Map, No minified JS & CSS, ESLint
        -Prod
            Minified code
Git
    Production
    1.0.0
    Development
    1.0.2